{% load static %}
<html>
    <head>
        <title>SetiaMDN-Profile</title>
        <meta charset="UTF-8">
        <meta name="viewport" content=width-device-width, initial-scale=1.0>
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link href="{% static 'css/Configuration.css' %}" rel="stylesheet" type="text/css">
    </head>
        <style>
            body{
                background-image: url("{% static 'photos/spring-animal-Wallpaper-For-Iphone-number-8NE.jpg' %}");
                background-repeat: no-repeat;
                background-size: 100%;}
        </style>
    <body>
        <div id="HOME"></div>
        <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
            <button class="navbar-toggler" data-toggle="collapse" data-target="collapse_target">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand"><img src="{% static 'photos/SM.png' %}" width="30px" height="auto"></a>
            <span class="navbar-text font-weight-bold"><a href="/home">SetiaMDN</a></span>
            <div class="collapse navbar-collapse" id="collapse_target">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="#HOME">Home</a></li>    
                    <li class="nav-item"><a class="nav-link" href="#ABOUT">About Me</a></li>
                    <li class="nav-item"><a class="nav-link" href="#SKILLS">Skills</a></li>
                    <li class="nav-item"><a class="nav-link" href="#EXP">Experience</a></li>
                    <li class="nav-item"><a class="nav-link" href="#EDU">Education</a></li>
                    <li class="nav-item"><a class="nav-link" href="#CONTACT">My Contact</a></li>
                    <li class="nav-item"><a class="nav-link" href="/misc">Misc</a></li>
                </ul>
            </div>
        </nav>
        <div class="Right_Option">
            <ul class="ul2"style="list-style-type:none;">
                <li class="li2"><a href="#HOME" class="a2">1</a></li></br>
                <li class="li2"><a href="#ABOUT" class="a2">2</a></li></br>
                <li class="li2"><a href="#SKILLS" class="a2">3</a></li></br>
                <li class="li2"><a href="#EXP" class="a2">4</a></li></br>
                <li class="li2"><a href="#EDU" class="a2">5</a></li></br>
                <li class="li2"><a href="#CONTACT" class="a2">6</a></li></br>
            </ul>
        </div>
        <div class="email">ryankaryadiputera@gmail.com</div>
        <div class="list-unstyled">
            <div class="Empty"></div>
            <div class="Opening">
                <div class="Opening_POS">
                    <div class="Opening1">
                        SetiaMDN's Profile
                    </div>
                    <div class="Opening2">
                        Welcome to My Web
                    </div>
                </div>
            </div>
            <div class="AboutMeContain" id="ABOUT">
                <div class="AboutMeTitle">
                </br>About Me</br></br>
                    <div class="Prof_Img">
                        <img src="{% static 'photos/Prof_Picture.png' %}" style="border-radius:100%;" height="auto"width="86.5%">
                    </div>
                </div>
            </div>
            <div class="AboutMe">
            </br></br></br></br></br></br></br>
                Hello, my name is Ryan Karyadiputera.</br>
                I am a student of Universitas Indonesia.</br>
                My hobby is playing computer, playing games,</br>
                listening music, and riding bicycle.</br>
            </div>
            <div class="Orange1"></div>
            <div class="CheckTitle">Check Out My Info Below</div>
            <div class="Orange2"></div>
            <div class="SkillsTitle" id="SKILLS"></br>Skills</div>
            <div class="Skill1">
                <img src="{% static 'photos/java.png' %}" width="130%" height="auto" class="center">
                Java
            </div>
            <div class="Skill2">
                <img src="{% static 'photos/python.png' %}" width="132%" height="auto" class="center">
                Python
            </div>
            <div class="Skill2">
                <img src="{% static 'photos/html5.png' %}" width="118%" height="auto" class="center">
                HTML
            </div>
            <div class="Skill2">
                <img src="{% static 'photos/css3.png' %}" width="118%" height="auto" class="center">
                CSS
            </div>
            <div class="OrganizationTitle" id="EXP"></br>Organization</div>
            <div class="Organization1">
                <a href="http://dpm.cs.ui.ac.id/" target="_blank" class="a3"><img src="{% static 'photos/dpm.png' %}" width="100%" height="auto" class="center"></a>
                DPM Fasilkom UI
            </div>
            <div class="Organization2">
                    <a href="https://www.instagram.com/kuksacs/" target="_blank" class="a3"><img src="{% static 'photos/kuksa.png' %}" width="72%" height="auto" class="center"></a>
                Kuksa Fasilkom UI
            </div>
            <div class="Yellow1"></div>
            <div class="CommitteeTitle"></br>Committee</div>
            <div class="Committee">
                1. Wisuda Genap Fasilkom UI 2019</br></br>
                2. Weekend Kuksa Fasilkom UI 2019
            </div>
            <div class="Yellow2"></div>
            <div class="EducationTitle" id="EDU"></br>Education</div>
            <div class="Education">
                1. TK Maharani Medan</br></br>
                2. SD Santo Thomas 6 Medan</br></br>
                3. SMP Putri Cahaya Medan</br></br>
                4. SMA Santo Thomas 1 Medan</br></br>
                5. Universitas Indonesia</br></br>
            </div>
            <div class="ContactTitle" ID="CONTACT" style="color:white">Stay in Touch</div>
            <div class="Border22"></div>
            <div class="ContactPicture">
                <a href="https://gitlab.com/SetiaMDN" target="_blank" class="a3"><img src="{% static 'photos/gitlab.png' %}" width="57%" height="auto" class="center"></a>
            </div>
            <div class="ContactPicture">
                <a href="https://twitter.com/SetiaMDN" target="_blank" class="a3"><img src="{% static 'photos/twitter.png' %}" width="65%" height="auto" class="center"></a>
            </div>
            <div class="ContactPicture">
                <a href="https://instagram.com/ryansetia15" target="_blank" class="a3"><img src="{% static 'photos/instagram.png' %}" width="54%" height="auto" class="center"></a>
            </div>
            <div class="ContactPicture">
                <a href="https://www.youtube.com/channel/UCfPlDHMmBrMcwkj629qdZlw" target="_blank" class="a3"><img src="{% static 'photos/youtubekids.png' %}" width="60%" height="auto" class="center"></a>
            </div>
            <div class="Border22"></div>
            <div class="Copyright"><p style="color:white">Copyright © 2019 SetiaMDN</p></div>
        </div>
        <script src="{% static 'js/index.js' %}"></script>
    </body>
</html>