{% load static %}
<html>
    <head>
        <title>SetiaMDN-Profile</title>
        <meta charset="UTF-8">
        <meta name="viewport" content=width-device-width, initial-scale=1.0>
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link href="{% static 'css/Configuration.css' %}" rel="stylesheet" type="text/css">
    </head>
    <body class="MiscBody">
        <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top list-unstyled">
            <button class="navbar-toggler" data-toggle="collapse" data-target="collapse_target">
                <span class="navbar-toggler-icon"></span>
            </button>

            <a class="navbar-brand"><img src="{% static 'photos/SM.png' %}" width="30px" height="auto"></a>
            <span class="navbar-text font-weight-bold"><a href="/home">SetiaMDN</a></span>
            <div class="collapse navbar-collapse" id="collapse_target">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link">Home</a></li>
                    <li class="nav-item"><a class="nav-link">></a></li>
                    <li class="nav-item"><a class="nav-link">Misc</a></li>
                </ul>
            </div>
        </nav>
        <div class="list-unstyled">
            <div class="GTitle" style="color:white">Games that I Like</div>
            <div class="Border2"></div>
            <div class="GPicture">
                <a href="https://fortnite.com" target="_blank" class="a3"><img src="{% static 'photos/Fortnite.png' %}" width="50%" height="auto" class="center"></a>
                Fortnite
            </div>
            <div class="Border2"></div>
            <div class="GPicture">
                <img src="{% static 'photos/The Sims 3.png' %}" width="25%" height="auto" class="center"></a>
                The Sims 3
            </div>
            <div class="Border2"></div>
            <div class="Copyright"><p style="color:white">Copyright © 2019 SetiaMDN</p></div>
        </div>
        <script src="Index.js"></script>
    </body>
</html>